<!DOCTYPE html>
<html>
<title></title>
<body>

</div>
    <p>
        <strong>name</strong>: <%= emp.name %><br>
        <strong>age</strong>: <%= emp.age %><br>
        <strong>file</strong>: <%= emp.file %><br>
    </p>
<div>

</body>
</html>
